@charset "UTF-8";
/* --------------------------------------------------
  Template by espace（https://espace.monbalcon.net/）
  Copyright: 2020 espace.

  利用規約を遵守の上、ご利用ください。
  二次配布、販売は禁止しています。
  --------------------------------------------------*/

/* ----- ▼ CSS変数設定 ここから ▼ ----- */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&family=Zen+Maru+Gothic:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
:root {
  --white: #fff;
  --text-color: #dfcbc0;
  --text-point-color: var(--white);
  --menu-color: var(--theme-color2-default);
  --bg-color1: var(--theme-color1-light);
  --bg-color2: var(--theme-color1-more-light);
  --theme-color1-more-light: #154215;
  --theme-color1-light: #0b3b15;
  --theme-color1-default: #0e5200;
  --theme-color2-default: #7194df;
  --theme-color3-default: #3cc45a;
  --animation: 0.7s;
  /* ▼ novel viewerを使用しない場合は削除してOK ▼ */
  --env-button-rounded: 1.5rem;
  --env-button-position-top: 25px;
  --env-button-position-right: 25px;
  --env-button-bg-color: transparent;
  --env-button-border-color: var(--white);
  --env-button-width: 50px;
  --env-button-height: 50px;
  --env-menu-title-border-color: var(--white);
  --env-menu-color: var(--text-color);
  --env-menu-bg-color: var(--bg-color1);
  --env-menu-rounded: 2.5rem;
  --env-menu-overlay-color: rgb(51, 51, 51, 0.75);
  --env-menu-input-rounded: 2.5rem;
  --env-menu-input-main-color: var(--text-color);
  --env-menu-input-sub-color: var(--white);
  --env-menu-input-bar-color: var(--theme-color1-default);
  --env-color-type-default-bg-color: var(--bg-color1);
  --env-color-type-default-color: var(--text-color);
  --env-vertical-height-pc: calc(100vh - 150px);
  --env-vertical-height-sp: calc(100vh - 150px);
  /* ▲ novel viewerを使用しない場合は削除してOK ▲ */

  /* ▼ my galleryを使用しない場合は削除してOK ▼ */
  --emg-border-color: var(--theme-color1-default);
  --emg-new-bg-color: var(--theme-color1-default);
  --emg-new-text-color: var(--white);
  --emg-caption-bg-color: var(--theme-color1-default);
  --emg-caption-text-color: var(--white);
  /* ▲ my galleryを使用しない場合は削除してOK ▲ */

  /* ▼ chara setを使用しない場合は削除してOK ▼ */
  --ecs-list-border-color: var(--white);
  --ecs-list-border-radius: 1.5rem;
  --ecs-list-bg-color: var(--white);
  --ecs-span-bg-color: var(--text-color);
  --ecs-span-tx-color: var(--white);
  --ecs-data-border-radius: 2.5rem;
  --ecs-data-border-color: var(--white);
  --ecs-data-bg-color: var(--white);
  --ecs-data-text-color: var(--theme-color1-default);
  --ecs-history-border-color: var(--theme-color1-default);
  --ecs-history-circle-color: var(--theme-color2-default);
  /* ▲ chara setを使用しない場合は削除してOK ▲ */

  /* ▼ my bookshelfを使用しない場合は削除してOK ▼ */
  --ebs-gap: 40px;
  --ebs-inner-gap: 20px;
  --ebs-border-width: 2px;
  --ebs-border-color: var(--white);
  --ebs-border-radius: 2.5rem;
  --ebs-border-inner-space: 20px;
  --ebs-text-border-color: var(--white);
  --ebs-text-border-width: 2px;
  --ebs-text-em-bg-color: var(--theme-color3-default);
  --ebs-link-btn-text-color: var(--white);
  --ebs-link-btn-bg-color: var(--theme-color2-default);
  --ebs-link-btn-radius: 2.5rem;
  /* ▲ my bookshelfを使用しない場合は削除してOK ▲ */
}

@media only screen and (max-width: 1024px) {
  :root {
    /* ▼ novel viewerを使用しない場合は削除してOK ▼ */
    --env-button-rounded: 0;
    --env-button-position-top: 50px;
    --env-button-position-right: 0;
    --env-button-border-color: transparent;
    --env-button-width: 44px;
    --env-button-height: 44px;
    /* ▲ novel viewerを使用しない場合は削除してOK ▲ */

    /* ▼ my bookshelfを使用しない場合は削除してOK ▼ */
    --ebs-gap: 20px;
    --ebs-inner-gap: 10px;
    --ebs-border-inner-space: 10px;
    /* ▲ my bookshelfを使用しない場合は削除してOK ▲ */
  }
}
/* ----- ▲ CSS変数設定 ここまで ▲ ----- */

/* ----- ▼ リセット　ここから（基本的には触らない方が良い部分） ▼ ----- */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*
  Add by espace
*/
* {
  word-break: break-all;
}

:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  word-wrap: break-word;
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  margin-block: 0;
  margin-inline: auto;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

p,
dl,
ul,
ol,
form,
.box,
.scrollbox {
  margin-block: 2.5rem;
  margin-inline: auto;
}

nav ul {
  list-style: none;
  padding: 0;
}

main {
  hanging-punctuation: allow-end;
}
/* ----- ▲ リセット　ここまで（基本的には触らない方が良い部分） ▲ ----- */

/* ----- ▼ PCレイアウト　ここから ▼ ----- */
html {
  background: var(--bg-color);
}

body,
button,
input,
textarea,
select {
  font: 500 1.6rem/2.65rem "Yu Gothic", Meiryo, "Hiragino Kaku Gothic ProN", sans-serif;
  color: var(--text-color);
}

/* 基本 */
body {
  width: 100%;
  background: var(--bg-color1);
  color: var(--text-color);
  overflow-x: hidden;
}
body.get-header main {
  margin-top: 50vh;
}
body.fix-menu main {
  margin-top: auto;
}

header {
  position: absolute;
  margin-top: -50vh;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50vh;
  text-align: center;
  transition: margin var(--animation);
  z-index: 90;
}
header::before {
  content: "";
  position: absolute;
  top: -50vh;
  left: -12.5vw;
  display: block;
  width: 125vw;
  height: 100vh;
  background: var(--theme-color1-default);
  border-radius: 0 0 50% 50%;
  z-index: -1;
}
header.scroll {
  position: fixed;
  top: 0;
  width: 200px;
  height: auto;
  margin-top: 0;
  padding-top: 100px;
  padding-bottom: 50px;
}
header.scroll::before {
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  border-radius: 0 0 200px 200px;
}
header.scroll h1 {
  position: absolute;
  top: 30px;
  left: 15px;
  white-space: nowrap;
}

main > * {
  min-height: 100Vh;
  padding: 100px 0;
}
main > *:nth-child(even) {
  background: var(--bg-color2);
}
main > * > * {
  max-inline-size: 800px;
  margin: auto;
}

@media only screen and (max-width: 1280px) {
  main > * > * {
    margin-inline: 250px auto !important;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

/* メニュー */
.menu ul {
  display: flex;
  justify-content: center;
  gap: 5px 25px;
  font: 500 1.6rem/1 "Comfortaa", "Zen Maru Gothic", "Yu Gothic", Meiryo, "Hiragino Kaku Gothic ProN", sans-serif;
}
.menu ul a {
  position: relative;
  display: block;
  padding: 10px 0;
  color: var(--menu-color);
  overflow-x: hidden;
  overflow-y: visible;
}
.menu ul a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  display: block;
  width: 100%;
  height: 2px;
  background: var(--bg-color2);
  transition: all var(--animation);
}
.menu ul a:hover::after {
  left: 0;
}
.menu.scroll {
  text-align: left;
}
.menu.scroll ul {
  flex-direction: column;
}
.menu.scroll ul a {
  font-size: 1.4rem;
}

.manu-toggler {
  display: none;
}

.fixed-menu {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 91;
}
.fixed-menu ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;
}
.fixed-menu a:not(.ic-sns),
.fixed-menu button:not(.ic-sns),
.fixed-menu span:not(.ic-sns) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  background: var(--theme-color1-light) !important;
  border: 2px solid var(--white);
  border-radius: 2.5rem;
  color: var(--text-point-color) !important;
  transition: background var(--animation);
}
.fixed-menu a:not(.ic-sns)::before,
.fixed-menu button:not(.ic-sns)::before,
.fixed-menu span:not(.ic-sns)::before {
  position: relative;
  top: auto;
  left: auto;
  display: inline;
  width: auto;
  height: auto;
  border: 0;
  font: 500 24px/1 "Material Symbols Rounded";
  opacity: 1;
  transform: none;
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 48;
}
.fixed-menu a:hover,
.fixed-menu button:hover {
  background: var(--white);
  border-color: var(--white) !important;
  color: var(--theme-color2-default) !important;
}
.fixed-menu span {
  opacity: 0.5;
}
.fixed-menu li.next::before {
  content: none;
}
.fixed-menu li.pagetop a::before,
.fixed-menu li.pagetop button::before,
.fixed-menu li.pagetop span::before {
  content: "\eacf";
}
.fixed-menu li.prev a::before,
.fixed-menu li.prev button::before,
.fixed-menu li.prev span::before {
  content: "\e5cb";
}
.fixed-menu li.next a::before,
.fixed-menu li.next button::before,
.fixed-menu li.next span::before {
  content: "\e5cc";
}
.fixed-menu li.home a::before,
.fixed-menu li.home button::before,
.fixed-menu li.home span::before {
  content: "\e88a";
}
.fixed-menu li.toc a::before,
.fixed-menu li.toc button::before,
.fixed-menu li.toc span::before {
  content: "\ea19";
}
.fixed-menu li.characters a::before,
.fixed-menu li.characters button::before,
.fixed-menu li.characters span::before {
  content: "\e7fd";
}
.fixed-menu li.images a::before,
.fixed-menu li.images button::before,
.fixed-menu li.images span::before {
  content: "\e413";
}
.fixed-menu span {
  opacity: 0.5;
}

/* 見出し */
h1 {
  margin: 0;
  font: 700 30px/1 "Comfortaa", "Zen Maru Gothic", "Yu Gothic", Meiryo, "Hiragino Kaku Gothic ProN", sans-serif;
  color: var(--text-point-color);
  letter-spacing: 24px;
  padding-inline-start: 10px;
}
h1 a {
  color: var(--text-point-colorr);
}

h2,
h3,
h4,
h5,
h6 {
  font: 700 2.4rem/1 "Comfortaa", "Zen Maru Gothic", "Yu Gothic", Meiryo, "Hiragino Kaku Gothic ProN", sans-serif;
  color: var(--text-point-color);
}

h2 span,
h3 span {
  position: relative;
  display: inline-block;
}
h2 span::after,
h3 span::after {
  content: "";
  display: block;
  block-size: 4px;
  inline-size: 100%;
  border-radius: 2px;
}

h2 {
  margin-block: 100px;
  margin-inline: auto;
  text-align: center;
  letter-spacing: 10px;
  padding-inline-start: 10px;
}
h2 span::after {
  margin-block-start: 30px;
  background: var(--white);
}

h3 {
  margin-block: 100px;
  margin-inline: auto;
  font-size: 2.2rem;
}
h3 span::after {
  margin-block-start: 15px;
  background: var(--theme-color1-default);
}

h4,
h5 {
  font-size: 2rem;
}
h4::after,
h5::after {
  content: "";
  display: block;
  block-size: 4px;
  margin-block-start: 15px;
  border-radius: 2px;
}

h4 {
  margin-block: 100px 75px;
  margin-inline: auto;
}
h4::after {
  inline-size: 5rem;
  background: var(--theme-color1-default);
}

h5 {
  margin-block: 75px 50px;
  margin-inline: auto;
}
h5::after {
  inline-size: 2.5rem;
  background: var(--theme-color1-default);
}

/* リスト */
ul .description, ol .description {
  margin-inline-start: 10px;
}
ul .description::before, ol .description::before {
  content: "…";
  margin-inline-end: 10px;
}

ul li.next {
  list-style: none;
}
ul li.next::before {
  content: "→";
  margin-inline-end: 5px;
  font-size: 120%;
}
ul.small {
  list-style: none;
  padding-inline-start: 0;
}
ul.small li {
  display: inline;
}
ul.small li::before {
  color: var(--text-point-color);
}
ul.small li:not(:first-child):not(.next)::before {
  content: ":";
  margin-block: 0;
  margin-inline: 2px 5px;
  font-weight: 900;
}
ul.small li.next::before {
  margin-block: 0;
  margin-inline: 2px 7px;
}

dl dd {
  margin-block: 0 20px;
  margin-inline: 0;
  padding-block: 0 20px;
  padding-inline: 40px 0;
  border-block-end: 2px solid var(--white);
}
dl dd:last-of-type {
  margin-block-end: 0;
  padding-block-end: 0;
  border-block-end: 0;
}
dl.inline {
  display: flex;
  flex-wrap: wrap;
  inline-size: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
dl.inline dt, dl.inline dd {
  vertical-align: top;
  margin-block: 0 20px;
  margin-inline: 0;
  padding-block: 0 20px;
  padding-inline: 0;
}
dl.inline dt:last-of-type, dl.inline dd:last-of-type {
  margin-block-end: 0;
  padding-block-end: 0;
}
dl.inline dt {
  inline-size: 200px;
  padding-block: 0 10px;
  padding-inline: 0 30px;
  border-block-end: 2px solid var(--white);
}
dl.inline dt:last-of-type {
  border-block-end: 0;
}
dl.inline dd {
  inline-size: calc(100% - 200px);
}
dl.border {
  padding-block: 20px;
  padding-inline: 25px;
  border: 2px solid var(--white);
  border-radius: 2.5rem;
}

/* フォーム */
input,
select,
textarea,
button,
button::after,
button::before {
  transition: all var(--animation);
}

.form-inline > *, .form-block > * {
  margin-bottom: 5px;
}

.form-block > *:not(:last-child) {
  margin-bottom: 20px;
}
.form-block dl dt, .form-block dl dd {
  border-bottom: 0;
  padding-bottom: 0;
}
.form-block dl.inline dt {
  width: 130px;
}
.form-block dl.inline dd {
  width: calc(100% - 130px);
}
.form-block > *, .form-block dl dd > * {
  width: 100%;
}

.required::after {
  content: "*";
  color: var(--theme-color2-default);
}

input, textarea, select,
button:not(.manu-toggler):not(.env-button):not(#envReset), input[type=submit], input[type=button] {
  border-radius: 2.5rem;
  padding: 10px 15px;
}

input, textarea, select {
  border: 2px solid var(--white);
  background: var(--white);
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  border: 2px solid var(--theme-color2-default);
}

button:not(.manu-toggler):not(.env-button):not(#envReset), input[type=submit], input[type=button] {
  border: 2px solid var(--white);
  background: transparent;
  color: var(--theme-color2-default);
  font-weight: 700;
}
button:not(.manu-toggler):not(.env-button):not(#envReset):hover, input[type=submit]:hover, input[type=button]:hover {
  background: var(--white);
  border-color: var(--theme-color2-default);
}

/* リンク */
main a:not(.ic-sns),
footer a:not(.ic-sns) {
  position: relative;
  display: inline-block;
  color: var(--theme-color2-default);
}
main a:not(.ic-sns)::before,
footer a:not(.ic-sns)::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  display: block;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  border: 2px solid var(--white);
  border-radius: 30px;
  opacity: 0.2;
  transform: scale(0);
  transition: all var(--animation);
}
main a:not(.ic-sns):hover::before,
footer a:not(.ic-sns):hover::before {
  opacity: 1;
  transform: scale(1);
}
/* 装飾 */
b, em, strong {
  font-weight: bold;
}

em {
  font-style: normal;
  background: linear-gradient(transparent 50%, var(--theme-color3-default) 50%);
}

strong {
  background: var(--theme-color3-default);
}

hr {
  margin-block: 150px;
  margin-inline: auto;
  inline-size: 90px;
  border: 0;
  border-block-end: 10px dotted var(--white);
}

.box {
  padding: 20px;
  border: 2px solid var(--white);
  border-radius: 2.5rem;
}
.box > *:first-child {
  margin-block-start: 0;
  padding-block-start: 0;
}
.box > *:last-child {
  margin-block-end: 0;
  padding-block-end: 0;
}

.scrollbox {
  overflow-y: auto;
  max-block-size: 14rem;
}
.scrollbox::-webkit-scrollbar {
  inline-size: 10px;
}
.scrollbox::-webkit-scrollbar-track {
  background-color: transparent;
}
.scrollbox::-webkit-scrollbar-thumb {
  background-color: var(--theme-color1-default);
  border-radius: 5px;
}
.scrollbox > *:first-child {
  margin-block-start: 0;
  padding-block-start: 0;
}
.scrollbox > *:last-child {
  margin-block-start: 0;
  padding-block-start: 0;
}

.onlyrow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.material-symbols-rounded {
  vertical-align: middle;
  font-size: 1.6rem;
  line-height: 2.65rem;
  font-weight: 500;
}

.column {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-block: 2.5rem;
  margin-inline: auto;
}
.column > * {
  margin: 0 !important;
}
.column.column-2 {
  grid-template-columns: repeat(2, 1fr);
}
.column.column-3 {
  grid-template-columns: repeat(3, 1fr);
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-bold {
  font-weight: bold;
}
.text-small {
  font-size: smaller;
}
.text-large {
  font-size: larger;
}

/* ▼ novel viewerを使用しない場合は削除してOK ▼ */
.env-button {
  border-width: 2px;
}

.env-writing-mode-vertical {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.env-writing-mode-vertical::-webkit-scrollbar {
  inline-size: 10px;
}
.env-writing-mode-vertical::-webkit-scrollbar-track {
  background-color: transparent;
}
.env-writing-mode-vertical::-webkit-scrollbar-thumb {
  background-color: var(--theme-color1-default);
  border-radius: 5px;
}
/* ▲ novel viewerを使用しない場合は削除してOK ▲ */

/* インデックス */
#INDEX h1 {
  margin: 0 auto 100px auto;
}
#INDEX h1 a {
  padding-left: 24px;
  color: var(--white);
}
#INDEX h1 a::before {
  top: -25px;
  left: -46px;
  width: calc(100% + 100px);
  height: calc(100% + 50px);
  border-radius: 60px;
}
#INDEX main {
  min-height: calc(100vh - 200px);
}
#INDEX main article {
  min-height: auto;
}
/* ----- ▲ PCレイアウト　ここまで ▲ ----- */

/* ----- ▼ SPレイアウト　ここから ▼ ----- */
@media only screen and (max-width: 1024px) {
  body,
  button,
  input,
  textarea {
    font-size: 1.6rem;
    line-height: 2.65rem;
  }
  /* 基本 */
  body.get-header main {
    margin-top: 75vh;
  }
  body.fix-menu main {
    margin-top: auto;
  }
  header {
    top: -75vh;
    align-items: center;
    width: 100% !important;
    height: 75vh !important;
    margin-top: 75vh;
    padding-top: 0 !important;
    overflow-x: inherit;
    overflow-y: visible;
    transition: none;
    transition: top var(--animation);
  }
  header::before {
    top: -25vh !important;
    left: calc(50vw - 50vh) !important;
    width: 100vh !important;
    height: 100vh !important;
    border-radius: 50% !important;
  }
  header h1 {
    position: relative !important;
    top: auto !important;
    left: auto !important;
  }
  header.scroll {
    top: -75vh;
    margin-top: -75vh;
  }
  header.open {
    position: fixed;
    top: 75vh;
  }
  main > * {
    padding: 50px 0;
  }
  main > * > * {
    margin-inline: auto !important;
    padding-inline: 30px !important;
  }
  /* メニュー */
  .menu {
    text-align: left;
  }
  .menu ul {
    flex-direction: column;
  }
  .menu.scroll ul a {
    font-size: 1.6rem;
  }
  .manu-toggler {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    background: transparent;
    border: 0;
    opacity: 0;
    z-index: 91;
  }
  .manu-toggler::before, .manu-toggler::after {
    content: "";
    position: absolute;
    right: 5px;
    display: block;
    height: 2px;
    width: 30px;
    background: var(--white);
  }
  .manu-toggler::before {
    top: 15px;
  }
  .manu-toggler::after {
    top: 25px;
    width: 20px;
  }
  .manu-toggler.open::before, .manu-toggler.open::after {
    top: 20px;
  }
  .manu-toggler.open::before {
    transform: rotate(45deg);
  }
  .manu-toggler.open::after {
    width: 30px;
    transform: rotate(-45deg);
  }
  .manu-toggler.scroll {
    opacity: 1;
  }
  .fixed-menu {
    width: 100%;
  }
  .fixed-menu ul {
    flex-direction: row;
    justify-content: right;
  }
  /* 見出し */
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 2rem;
    margin-block: 50px;
    margin-inline: auto;
    padding-block: 0;
  }
  h3,
  h4,
  h5 {
    margin-block: 75px 25px;
    margin-inline: 0;
    font-size: 1.6rem;
  }
  /* リスト */
  ul .description,
  ol .description {
    display: block;
    margin-inline-start: 10px;
  }
  ul .description::before,
  ol .description::before {
    content: "└";
    margin-inline-end: 10px;
  }
  dl.border dt,
  dl.border dd, dl.inline dt,
  dl.inline dd {
    display: block;
  }
  dl.border dt, dl.inline dt {
    inline-size: 100%;
    margin-block-end: 0;
    padding-block-end: 0;
    border-block-end: 0;
  }
  dl.border dd, dl.inline dd {
    inline-size: 100%;
    padding-inline-start: 40px;
  }
  /* フォーム */
  .form-inline input {
    width: 45%;
  }
  .form-block dl.inline dt {
    width: 100%;
  }
  .form-block dl.inline dd {
    width: 100%;
    padding-left: 40px;
  }
  .form-block > *,
  .form-block dl dd > * {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 5px;
  }
  /* 装飾 */
  .box {
    max-inline-size: calc(100% - 60px);
  }
}
/* ----- ▲ SPレイアウト　ここまで ▲ ----- */